/Errores/nbproject/private/
/Molde/nbproject/private/
/Molde/build/
/ParcialMitch/dist/
/SelectorColor/nbproject/private/
/SelectorColor/build/
/CapErrores/nbproject/private/
/Formulario/nbproject/private/
/Formulario/build/